@model IEnumerable<EpamBlog.Web.Models.Author.IndexViewModel>
@{
    ViewBag.Title = "Authors list";
}

<h2>Authors list</h2>
<a href="/Authors/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</a>
<hr />

<div class="row">
    <div class="list-group col-md-12">
        @foreach (var item in Model)
        {
            <div class="list-group-item col-md-4">
                <p class="list-group-item-heading">@(item.FirstName) @(item.LastName)</p>
                <p class="list-group-item-text">@(item.Email)</p>
                <hr />
                <div class="btn-group btn-group-sm">
                    <a href="/Authors/Details/@(item.Id)" class="btn btn-default">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Details
                    </a>
                    <a href="/Authors/Edit/@(item.Id)" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                         Edit
                    </a>
                    <a href="/Authors/Remove/@(item.Id)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-trash"></span>
                         Remove
                    </a>
                </div>
            </div>
        }
    </div>
</div>

