@model EpamBlog.Web.Models.Author.IndexViewModel
@{
    ViewBag.Title = "Remove";
}

<div class="jumbotron">
    @using (Html.BeginForm("Remove", "Authors", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <h2>Confirmation</h2>
        <p>Are you sure you want to remove <strong>@(Model)</strong> from database?</p>
        <a href="/Authors/Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to list</a>
        <input type="submit" class="btn btn-danger" value="Confirm" />
    }
</div>

